.container {
    padding: 20px 25% 20px 25%;
    background-color: #EEEEEE;
}

.task-input, .todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
}

.task-input {
    width: 100%;
}